# Elixir
/_build/
/deps/
*.ez
*.beam

# Rust
/rust/target/
/rust/fixtures/**/target/
**/*.rs.bk
*.pdb
**/mutants.out*/

# NIF compiled artifacts
**/priv/native/

# Mix artifacts
/cover/
/doc/
/.fetch
erl_crash.dump
*.ez

# Environment / secrets
.env
*.pem

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
